*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --bgHeader: #1c5253;
  --bgHeaderDark: #598889;
  --textColor: #fff;
  --maxWidth: 1024px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}